@import './base.css';

:root {
  --header-height: 120px;
  --orange-lbc: #ec5a13;
}

*,
body {
  font-family:
    Nunito Sans,
    sans-serif;
  box-sizing: border-box;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}
